<launch>	
  <arg name="namespace" default="robot1"/>
  
  <!-- Launch the namespaced map merger node -->
  <group ns="$(arg namespace)">
  <node pkg="map_merge_2d" type="map_merge_2d_node" name="map_merge_2d" output="screen">
    <rosparam command="load" file="$(find map_merge_2d)/config/params.yaml" />
      <remap from="map_merge_2d/map" to="map" />
      <remap from="/tf" to="tf" />
      <remap from="/tf_static" to="tf_static" />
  </node>
  </group>

  <!-- Launch the non-namespaced map merger node -->
  <!-- <node pkg="map_merge_2d" type="map_merge_2d_node" name="map_merge_2d" output="screen">
      <rosparam command="load" file="$(find map_merge_2d)/config/params.yaml" />
  </node> -->
  
</launch>